@import "../helpers";

.meds-button {
  // Display and Box Model
  padding: 16px;

  // Others
  cursor: pointer;
  outline: none;
  border: none;
  background-color: $secondary;
  color: white;
  border-radius: 32px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}
